{% extends 'base.html' %}
{% block content %}
<script>
var endpoint = '/fitness/chart/?format=json';
var labels = [];
// $.ajax({
//     method: "GET",
//     url: endpoint,
//     labels: records,
//     success: function(data){
//         alert(defaultData)
//     },
//     error: function(error_data){
//         console.log("error")
//         console.log(error_data)
//     }
// })

setChart();

function iterate(data) {
    var weights = [];
    for (var i = 0; i < data.length; i++) {
        weights.push(data[i].weight_weight);
    }
    var h = 300;
    var w = 1000;
    var barPadding = 55;
    
    
    
    var scale = d3.scaleLinear()
                  .domain([d3.min(weights), d3.max(weights)])
                  .range([h, 0]);
    
    var y_axis = d3.axisLeft()
                    .scale(scale);

    var svg = d3.select("div.col-sm-6")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

    svg.selectAll("rect")
        .data(weights)
        .enter()
        .append("rect")
        .attr("x", function(d, i) {
            return i * 21;
        })
        .attr("y", function(d) {
            return h - ((d - 180) * 10);
        })
        .attr("width", w / weights.length - barPadding)
        .attr("height", function(d) {
            return (d - 180) * 10;
        })
		.attr("fill", function(d) {
			return "rgb(102, 0, " + Math.round((d - 180) * 10) + ")";
        })
        .on("mouseover", function(d) {
            d3.select(this)
                .attr("fill", "red");
        })
        .on("mouseout", function(d) {
            d3.select(this)
            .attr("fill", function(d) {
                return "rgb(102, 0, " + Math.round((d - 180) * 10) + ")";
            })
        });

        svg.append("g")
            .attr("class", "axis")
            .call(y_axis);
}

function setChart(){
    fetch(endpoint)
        .then(res => res.json())
        .then(data => iterate(data))
}
// var ctx = document.getElementById("myChart");

</script>

<div class='container'>
    <br>
    <div class='col-sm-12'>
        <h1 class="title">Charts 'n shit</h1>
        <div class='col-sm-6' id="things">
        </div>
    </div>
</div>

{% endblock content %}