{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Emotion List
{% endblock %}

{% block content %}
<div class="container">
	<div class="status row">
		{% if not weight_list %}
			<div class="row">
				<p>
					Seems like you haven't sent your weight in for today. Enter it <a href="{% url 'weight_create' %}">here</a>.
				</p>
			</div>
		{% else %}
			<p> 
				Looks like you are a big boy! Feel free to enter more weigh ins for today:
			</p>
			<a href="{% url 'weight_create' %}"><button class="button is-primary">Weigh In</button></a>
			<div class="row">
				<table class="table is-fullwidth is-striped is-hoverable">
					<thead class="thead">
						<th class="th">Date</th>
						<th class="th">Weight (lbs)</th>
						<th class="th">Delete</th>
					</thead>
					<tbody class="tbody">
					{% for weight in weight_list %}
						<tr class="tr">
							<td class="td" style="text-align: center;">{{ weight.weight_date }}</td>
							<td class="td" style="text-align: center;">{{ weight.weight_weight }}</td>
							<td class="td" style="text-align: center;" >
								<a href="{{ weight.get_delete_url }}">
									<button class="button is-primary">Delete</button>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}