{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Create Book
{% endblock %}

{% block content %}
<div class="container">
	<div class="field">
		<form
			action="{% url 'workout_create' %}"
			method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{{ form.workout_duration.errors }}
			<p>
				<label for="id_name" class="label">
					Today's Workout Duration: 
				</label>
				{{ form.workout_duration }}
			</p>
			{{ form.workout_type.errors }}
			<p>
				<label for="id_name" class="label">
					Today's Workout Duration: 
				</label>
				{{ form.workout_type }}
			</p>
			<p style="padding: 10px">
				<button type="submit" class="button is-primary">
					Log Workout
				</button>
			</p>
		</form>
	</div>
</div>
{% endblock %}