{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Lessons Report
{% endblock %}

{% block content %}
<div class="container">
    <table class="table is-striped">
        <thead>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </thead>
    {% for test in testing %}
    <tr>
        {% for item in test %}
            <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <p>
        Total number of lessons learned {{ total }}
    </p>
    <h3>
        Top words that I have been using:
    </h3>
    <div class="container">
    <ol style="padding-left: 50px;">
        {% for word in common_words %}
        <li>
            {{ word }}
        </li>
        {% endfor %}
    </ol>
    </div>
</div>
{% endblock %}