{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Lesson List
{% endblock %}

{% block content %}
<div class="container">
	<div class="status row">
		{% if not lesson_list %}
			<div class="row">
				<p>
					You have no lessons for this book...
				</p>
				<p>
					Please visit <a href="{% url 'lesson_create' %}">our create page </a> in order to add new verses. 
				</p>
			</div>
		{% else %}
			<a href="{% url 'lesson_create' %}">
				Add more lessons learned here...
			</a>
			<p> 
				Hopefully you can learn something from these.
			</p>
			</br>
			{% for lesson in lesson_list %}
				<div>
					<p>{{ lesson.lesson }}</p>
					<a href="{{ lesson.get_absolute_url }}">Detail</a> | 
					<a href="{{ lesson.get_update_url }}">Edit</a> | 
					<a href="{{ lesson.get_delete_url }}">Delete</a>
				</div>
			</br>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}