{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Excel Upload
{% endblock %}

{% block content %}
<div class="container">
    <form action="" enctype="multipart/form-data"  method="post">
		<div class="file is-boxed">
		  <label class="file-label">
		    <input class="file-input" type="file" id="upload" name="myfile">
		    <span class="file-cta">
		      <span class="file-icon">
        		<i class="fas fa-upload"></i>
      		  </span>
		      <span class="file-label" id="filename">
		        Choose a file…
		      </span>
		    </span>
		  </label>
		</div>
        <div class="field">
            <label class="label">Holding Cost Per Unit</label>
            <input class="input" type="text" placeholder="ENTER HOLDING COST PER UNIT" name="holding_cost">
        </div>
        <div class="field">
            <label class="label">Reorder cost</label>
            <input class="input" type="text" placeholder="ENTER REORDER COSTS"name="reorder">
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
</div>
    <script type="text/javascript">
        document.getElementById('upload').onchange = uploadOnChange;
        function uploadOnChange() {
            var filename = this.value;
            var lastIndex = filename.lastIndexOf("\\");
            if (lastIndex >= 0) {
                filename = filename.substring(lastIndex + 1);
            }
            document.getElementById('filename').innerText = filename;
        }
    </script>
{% endblock %}