{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Excel Total
{% endblock %}

{% block content %}
<div class="container">
	<br>
	<div class="list">
		<p class="list-item">Reorder Cost = {{ reorder }}</p>
		<p class="list-item">Holding Costs = {{ holding_cost }} per unit</p>
		<p class="list-item">Average number of sales = {{ average }}</p>
		<p class="list-item">Economic order quantity = {{ eoq }} units</p>	
	</div>
	<div class="chart">
		<h3 class="subtitle is-3">Sales Breakdown</h3>
	</div>
	<script type="text/javascript">
		var dataset = {{ cells }}

		var yScale = d3.scaleLinear()
			.domain([0, d3.max(dataset)])
			.range([0,250])

		var yAxis = d3.axisLeft()
						.scale(yScale)
						.ticks(10);

		var svg = d3.select("div.chart")
			.append("div")
			.selectAll("svg");

		svg.data(dataset)
			.enter()
			.append("svg")
			.attr("class", "bar")	
			.style("display", "inline-block")
			.style("background-color", "teal")
			.style("width", "20px")
			.style("margin", "5px")
			.style("height", function(d){
				return yScale(d);
			});
			
		svg.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(5,0)")
			.attr("style", "background-color:black")
			.call(yAxis);
	</script>
</div>
{% endblock %}